* {
  margin: 0;
  padding: 0;
}

.window{
  max-height: calc(100vh - 32px);
  margin-top: 32px;
}

.electron-window-title{
  color: white;
  line-height: 32px;
}

.pane.content{
  padding: 12.5px;
}
